<!DOCTYPE html>
<html>
<head>
	<title>Button Design</title>
	<style type="text/css">
		.btn{
			padding: 10px 20px;
    		/*background: #ff04c900;*/
		    border: 2px solid black;
		    text-transform: uppercase;
		    font-weight: bolder;
		    transition: 0.7s;
		}
		.btn:hover{
			background-color: #00ffff50; 

		}
		.btn-solid{
			background: black;
			color: white;
		}
		.btn-round{
			border-radius: 30px;
		}

	</style>
</head>
<body>

	<button class="btn">Base Design</button>
	<button class="btn btn-solid">Solid Design</button>
	<button class="btn btn-round">Rounded Design</button>
	<button class="btn btn-round btn-solid">Rounded Solid</button>




</body>
</html>